/* Version Mobil */

body{
    font-family: 'raleway', sans-serif;
    margin: 0px;
    }

/*header*/
header {
    display: flex;
    justify-content: space-between;
   
}
#logo{
  
 align-content: flex-start;
 flex:1;
 padding-top: 50px;
 padding-left: 40px;
}

.nav_barre {
   
    justify-content: center;

   
}
.nav_barre ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    
}
.item_menu {
    width: 165px;
    text-align: center;
    border-top: 3px solid #FFFFFF;
    padding-top: 68px;
}
.item_menu:hover {
   
    color: #0065FC;
    border-top: 3px solid #0065FC;

 }
 .item_menu a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;

}
.item_menu a:hover {
    color: #0065FC;
   
}
#inscription{
    align-content: flex-end;
    padding-right: 40px;
    padding-top: 70px;
   
}
.signin{
    text-decoration: none;
    color: #0065FC;
    font-weight: 600;
}


/* fin header*/




/*footer*/

footer{
    background-color: #F2F2F2;
    padding: 40px 40px 40px 40px;
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap:200px;
}


.footer-item{
    display: flex;
    flex-direction: column;  
}
.footer-item a{
    color: black;
    text-decoration: none;
    line-height: 2;
}
h3{
    font-size: 0.9em;
}


/*footer*/

@media screen and (max-width: 780px)
{

    
/*header*/
header {
   
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 50px;align-items: stretch;
    
}
#logo{
    order: 2;
    flex: 1 0 100%;
    height: 50px;
 
}

.nav_barre {
   
    order: 2;
    flex: 1 0 100%;
     height: 50px;
   
}

.item_menu {
   
   
    border-top: none;
    border-bottom: 3px solid #FFFFFF;
    padding-top: 68px;
}
.item_menu:hover {
   
    color: #0065FC;
    border-top: none;
    border-bottom: 3px solid #0065FC;

 }

#inscription{
   
    order: 2;
    flex: 1 0 100%;
    height: 50px;
   
}



/* fin header*/



footer{

    background-color: #F2F2F2;
    flex-direction: column;
    text-align: left;
    
}

.footer-item{
    width: 400px;
    margin: auto;
    padding: 15px;
    border: thick double #32a1ce;
}

.footer-item a{
    line-height: 2;

}

}

