/* Version Desktop */

body{
    font-family: 'raleway', sans-serif;
    margin: 10px;
    }

/*header*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 50px;
}
nav ul{
    display: flex;
    list-style-type: none;
   
}
nav li{
    margin: 0 10px 0 20px;
}

nav a{
    text-decoration: none;
    color: #0065FC;
}

/*header*/

/*main*/

#presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#description{
    max-width: 700px;
    line-height: 1em;
}
#rechercher{
    max-width: 700px;
    border-radius: 30px;
    color:  #0065FC,;
}

#filtres{
    display: inline-flex;
    max-width: 700px;
}
button {
    border: 2px solid grey;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}
#hebergement{
    max-width: auto;
}

#content{
     height: 500px;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
}

/*main*/


/*footer*/

footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: start;
   
}
footer h3{
    font-size: 12px;
    margin: 20px 0 10px 0;
}
#footer-item{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
#footer-item h3{
    font-size: 14px;
    font-weight: bold;
}
#footer-item li{
    list-style-type: none;
    line-height: 2em;
    font-size: 14px;
}
/*footer*/




